@import 'variables'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: $regular
.header
  padding-top: 34px
  padding-bottom: 94px
  background-image: linear-gradient(to bottom, #1e1e1e 0%, rgba(30, 30, 30, 0) 100%)
  opacity: 0.7
  &-logo
    text-decoration: none
    color: #5a5a5a
    text-transform: uppercase
    font-size: 30px 
  &-tel
    font-size: 28px
    font-weight: 700
    text-transform: uppercase
  &-button 
    color: #d91233
    font-size: 16px
    font-weight: 400
    text-decoration: underline

